body {
	background-color: #408080;
}

h1 {
	color: #0000a0;
	position: center;
}

h3 {
	color: #000000;
	position: center;
	
}

div {
	position: center;
	background-image: url("images/welcome.jpg");
	
}