body {
	background-color: powderblue;
}

h1 {
	color: blue;
	position: center;
}

h3 {
	color: red;
	position: center;
	
}

div {
	position: center;
	background-image: url("images/welcome.jpg");
	
}